<section>
  <div class="project-container">
    {% for project in site.data.settings.projects %}
      <a href="/projects/{{ project.url }}">
        <div class="project-unit" data-folder="/projects/{{ project.url }}" style="background-image: url(/assets/img/projects/{{ project.url }}/thumbnail.jpg)">
          <div class="project-overlay">
            <strong>{{ project.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
