---
---

//------------------------------------------------
// Set some colors as sass variables
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')


$accent-color: #e3ffd6     // Neon cyan
$glitch-color: #ffbcef  // Neon cyan
$neon-glow-color: #ffbcef
$accent:  #ffbcef // Base accent color (not explicitly used in CSS)
$accent-light: adjust-hue(saturate(lighten($accent, 11%), 12.6%), 14%) // Derived from $accent
$selectionColor: lighten($accent, 30%) // Derived lighter accent

$textColor: #92288f    // Bright green-cyan for body text
$headlineColor: #e3ffd6      // Headings in neon cyan
$bgcolor: #FFFFFF      // Black, cyberpunk background
$documentBackgroundColor: #FFFFFF // Footer background
$neon-glow: 0 0 1px $neon-glow-color, 0 0 3px $neon-glow-color, 0 0 5px $neon-glow-color

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
